<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>

<body class="h-screen text-slate-50">
    <div class="h-full bg-slate-400 dark:bg-slate-800">
        <nav class="flex items-center flex-row justify-between p-4 bg-slate-500 dark:bg-slate-900" id="navegation-bar">
            <h1 class="text-3xl font-mono" id="title">CHECK</h1>
            <div class="flex flex-row gap-8 mx-10" id="options">
                <a href="/">
                    <h2 class="cursor-pointer">Home</h2>
                </a>
                <a href="/log/">
                    <h2 class="cursor-pointer">Login</h2>
                </a>
                <a href="/registro/">
                    <h2 class="cursor-pointer">Registrar</h2>
                </a>
                <a href="/app/">
                    <h2 class="cursor-pointer">App</h2>
                </a>
            </div>
        </nav>

        <div class="h-4/5 flex justify-center items-center flex-col">
            <div class="flex gap-8 flex-col items-center p-8">
                <div class="flex flex-col justify-center items-center">
                    <p class="text-3xl font-mono" id="titulo">CHECK</p><br>
                    <p id="descripcion">
                        Una nueva forma de realizar tus tarea,
                        esta aplicacion te permite agregar, editar y borrar tus tareas
                    </p>
                </div>
                <a href="/registro/">
                    <button
                        class="bg-red-900 p-2 w-96 rounded-lg hover:bg-red-600 transition-all duration-500 text-slate-50"
                        id="btn-login">REGISTRAR</button>
                </a>
            </div>
        </div>
    </div>
</body>

</html>